/* import segoe ui and overpass font family  */
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");
@import url("https://fonts.cdnfonts.com/css/overpass");

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

hr {
  border: solid 1px #e5e5e5;
}

p {
  font-size: 0.875rem;
  line-height: 16px;
  color: #3e4760;
}

.card {
  width: 100%;
  max-width: 751px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  border: 1px solid #c4c4c4;
}

.card_upper {
  padding: 0 40px;
}

.card_heading {
  font-size: 1.25rem;
  text-align: center;
  line-height: 28px;
  color: #7b7b7b;
}

.card_heading_icon_container {
  width: 100%;
  max-width: 751px;
  display: flex;
  justify-content: space-between;
}

.search_input_container {
  margin-top: 40px;
  display: flex;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 11px 30px 11px 12px;
  align-items: center;
  gap: 10px;
}

.search_input_container input::placeholder {
  width: 100%;
  font-size: 0.875rem;
  line-height: 22px;
  color: #c4c4c4;
}

.cards-enter {
  opacity: 0;
  transform: scale(0.9);
}
.cards-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 650ms, transform 650ms;
}
.cards-exit {
  opacity: 1;
}
.cards-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 650ms, transform 650ms;
}

.supplier_list_container,
.product_list_container {
  padding: 20px 20px 0px 20px;
}

.supplier_list_container_name,
.product_list_container_name {
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 20px;
}

.supplier_list_container_name::-webkit-scrollbar,
.product_list_container_name::-webkit-scrollbar {
  width: 9px;
}

.supplier_list_container_name::-webkit-scrollbar-track,
.product_list_container_name::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 60px #f5f5f5;
  border-radius: 7px;
}
.supplier_list_container_name::-webkit-scrollbar-thumb,
.product_list_container_name::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  border-radius: 7px;
}

.supplier_list_container_name_wrapper {
  background-color: #ffffff;
  padding: 10px 0px 0px 10px;
  gap: 10px;
  display: grid;
}
.product_list_container_name_wrapper {
  background-color: #ffffff;
  padding: 10px 0px 0px 0px;
}

.product_list_container_name_wrapper.selected {
  background-color: #f5f5f5;
}

.supplier_list_container_name_wrapper.selected,
.supplier_list_container_name_wrapper.selected p {
  background-color: #2f8df8fc;
  color: #ffffff;
}

.supplier_list_container_name_wrapper_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.product_list_container_name_wrapper_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.product_list_container_name_wrapper_inner.active {
  background: #e3f1fe;
}

.product_list_container_name_wrapper_inner_div1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product_list_container_name_wrapper_inner_div1 p {
  text-transform: capitalize;
}

.product_list_container_name_wrapper_inner_div2 {
  padding: 15px 0px 15px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.product_list_checkbox[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  outline: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid #7b7b7b;
}

.product_list_checkbox.active[type="checkbox"]:checked {
  background-color: rgba(47, 141, 248, 0.99);
  border: 1px solid rgba(47, 141, 248, 0.99);
}

.product_list_checkbox.active[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-text {
  color: #3e4760;
}

.product-subtext {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #7b7b7b;
}

.product-number-input {
  border: solid 1px #c4c4c4;
  border-radius: 3px;
  padding: 3px 9px;
  width: 68px;
  text-align: end;
  color: #c4c4c4;
  font-family: Overpass;
  font-size: 1rem;
  margin-right: 30px;
}

.product-number-input::-webkit-inner-spin-button,
.product-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-number-input.active {
  border: solid 1px rgba(47, 141, 248, 0.99);
  color: #0d0d0d;
}
.product-number-input.active:focus {
  border: solid 1px rgba(47, 141, 248, 0.99);
  color: #0d0d0d;
  box-shadow: 0 0 10px rgba(47, 141, 248, 0.99);
}

.card_bottom {
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}
.card_bottom_btn {
  padding: 12px 24px;
  text-align: center;
  border: 1px solid #c4c4c4;
  color: #7b7b7b;
  border-radius: 3px;
}

.card_bottom_btn_container {
  display: flex;
  gap: 20px;
}

.card_bottom_btn.selected {
  color: #808285;
}

.card_bottom_btn.cancel {
  text-transform: uppercase;
}

.card_bottom_btn.add {
  text-transform: uppercase;
  font-family: "Segoe UI", sans-serif !important;
  background: #e5e5e5;
}
.card_bottom_btn.add.selected {
  border: 1px solid #3e4760;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Segoe UI", sans-serif !important;
  background: #3e4760;
}
