/* import segoe ui font family  */
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
}

hr {
  border: solid 1px #e5e5e5;
}

p {
  font-size: 0.875rem;
  line-height: 16px;
  color: #3e4760;
}

.card {
  width: 100%;
  max-width: 751px;
  margin: auto;
  height: 662px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  border: 1px solid #c4c4c4;
  overflow: hidden;
}

.card_upper {
  padding: 0 20px;
}

.card_heading {
  font-size: 1.25rem;
  text-align: center;
  line-height: 28px;
  color: #7b7b7b;
}

.card_heading_icon_container {
  width: 100%;
  max-width: 751px;
  display: flex;
  justify-content: flex-end;
}

.search_input_container {
  margin-top: 40px;
  display: flex;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 11px 30px 11px 12px;
  align-items: center;
  gap: 10px;
}

.search_input_container input::placeholder {
  width: 100%;
  font-size: 0.875rem;
  line-height: 22px;
  color: #c4c4c4;
}

.supplier_list_container {
  padding: 0 40px;
  overflow-y: scroll;
}

.supplier_list_container_name_wrapper_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px 15px;
}
